/.vscode
/010_Template
/011_STL
/012_Working_with_Files
/013_C++11_concepts
/01_Intro_C++
/02_Control_structure
/03_Functions
/04_Array
/04_Strings
/05_Pointers
/06_Class_and_object
/07_Constructor_Destructor
/08_Inheritance
/Misc program
/script.ps1
/Splitting_code_multfiles
/temp.cpp
/temp.exe